// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

//$show-grid-backgrounds  : true;

/*fonts used in the site*/
@include font-face("Droid", font-files("DroidSans-webfont.woff", "DroidSans-webfont.ttf"), "DroidSans-webfont.eot");
@include font-face("Droid", font-files("DroidSans-Bold-webfont.woff", "DroidSans-Bold-webfont.ttf"), "DroidSans-Bold-webfont.eot", bold, normal);
@include font-face("Bitter", font-files("Bitter-Regular-webfont.woff", "Bitter-Regular-webfont.ttf"), "Bitter-Regular-webfont.eot");
@include font-face("Bitter", font-files("Bitter-Italic-webfont.woff", "Bitter-Italic-webfont.ttf"), "Bitter-Italic-webfont.eot", normal, italic);
@include font-face("Bitter", font-files("Bitter-Bold-webfont.woff", "Bitter-Bold-webfont.ttf"), "Bitter-Bold-webfont.eot", bold, normal);